* {
    font-family: 'Geist Mono', monospace;
    word-wrap: break-word;
}

body {
    margin: 8px;
    background-image: linear-gradient(to top, #dfe9f3 0%, white 100%);
}

main {
    display: flexbox;
    width: 100%;
    margin: 0 auto;
    padding-top: 100px;
  }

/* Navigation Menu */  
nav {
    position: fixed;
    top: 2rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    width: 15rem;
    margin-top: 298px;
}

@media screen and (max-width: 1100px) {
    nav {
        display: none;
    }
}

nav ul {
    border: 1px solid rgb(0, 0, 0);
    margin-top: 0px;
}


* li {
    list-style: none;
}

nav li {
    border-bottom: 1px solid rgb(0, 0, 0);
}

ul li:last-child {
    border-bottom: none
}

.btn-link {
    padding: 0px;
}
.btn-link a {
    display: block;
    padding: 0.75rem;
    color: black;
}
  
.btn-link a:active,
.btn-link a:focus,
.btn-link a:hover {
    background-color: #D0DFFF;
    color: #000000;
}

/* Structure */
#sticky-right {
    float: right;
    display: flex;
    top: 0;
}

.general {
    width: max(50%, min(600px, 80%));
    margin: auto;
    margin-bottom: 100px;
    padding-top: 50px;
}

/* Text */
h1 {
    text-align: center;
    font-weight: 900;
    margin-bottom: 100px;
}

h2 {
    text-align: center;
}

h4 {
    padding-left: 20px;
}

.code {
    font-family: monospace;
    background-color: rgb(255, 255, 70);
}

dd {
    margin-bottom: 20px;
}

dt {
    margin-bottom: 10px;
}

dt a {
    color: #618ff2;
    font-weight: 900;
}

/* Tables */
table {
    table-layout: fixed;
    width:100%;
    border-collapse: collapse;
    background-color: #D0DFFF;
    margin-bottom: 50px;
}

table, th, td {
    border: 1px solid;
}

thead {
    text-align: left;
    height: 50px;
}
  
th, td {
    padding: 8px;
}

tbody tr:nth-child(even) {
    background-color:#e5eeff;
}
  
tbody tr {
    background-color:#F7F9FF;
}

.first-col {
    width:20%;
}

/* Arrow Images */
#arrows {
    position: absolute;
    width: 60%;
    z-index: -1;
    margin-left: 20%;
}

#arrow-mobile {
    position: absolute;
    width: 90px;
    z-index: -1;
    margin-top: 100px;
    margin-left: 40%;

}

@media screen and (max-width: 1100px) {
    #arrows {
        display: none;
    }
}

@media screen and (min-width: 1100px) {
    #arrow-mobile {
        display: none;
    }
}
